#conflict-registration {
  margin: 0px auto;
  width: 800px;
  background-color: #cb3837;
}
#conflict-registration-spacer{
  height: 100px;
}

#conflict-registration #user-photo{
  float: left;
  height: 256px;
  width: 256px;
}
