.profileImage{
  max-width: 60px;
}
.message{
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.primary-font{
  font-size: 32pxpx;
}

.imageSpacer{
  padding-top: 15px;
  padding-right: 10px;
}

.chat-text{
  font-size: 28px;
}

.timeIcon{
  font-size: 20px;
  margin-left: 10px;
}

