<div class="panel panel-default default-chat" ng-init="init()">
  <div class="panel-body">
    User {{conflicts.firstUser.name}}
    <br/>
    User {{conflicts.secondUser.name}}
    <br/>
    Mediador {{conflicts.mediator.name}}
    <br/>

    <div ng-repeat="component in conflicts.components">

      <simple-message
        user1="conflicts.firstUser"
        user2="conflicts.secondUser"
        mediator="conflicts.mediator"
        data="component" ng-if="component.type == 'MESSAGE' ">
      </simple-message>

      <question questionId="component.id" ng-if="component.type == 'QUESTION'"/>
    </div>
  </div>
</div>
