<div id="conflict" class="container" ng-init="init()">

  <div class="border row">

    <div class="border col-sm-9">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-comment"></span> Chat
          <div class="btn-group pull-right">
            <a id="callAction" ng-click="callMeeting()"><span class="glyphicon glyphicon-phone"></span> Llamada |</a>
            <a id="askAction" ng-click="openQuestions()"><span class="glyphicon glyphicon-pencil"></span> Pregunta</a>
          </div>
        </div>
        <div class="panel-body with-scroll" scroll-glue>
          <ul class="chat" ng-repeat="component in conflicts.components">
            <simple-message
              user1="conflicts.firstUser"
              user2="conflicts.secondUser"
              mediator="conflicts.mediator"
              data="component" ng-if="component.type == 'MESSAGE' ">
            </simple-message>
            <answer user1="conflicts.firstUser"
                    user2="conflicts.secondUser"
                    mediator="conflicts.mediator"
                    data="component" ng-if="component.type == 'ANSWER'"/>
            <question question="component" conflict="conflicts" ng-if="component.type == 'FORM'"/>
            <videocall
              data="component"
              user1="conflicts.firstUser"
              user2="conflicts.secondUser"
              mediator="conflicts.mediator"
              ng-if="component.type == 'CALL'">
            </videocall>
          </ul>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..."
                   ng-model="message" ng-keypress="($event.which === 13)?sendMessage():0"/>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="sendMessage()">
                              Send
                            </button>
                        </span>
          </div>
        </div>
      </div>

    </div>
    <div id="pasosASeguir" class="border col-sm-3">
      <h3><b>Pasos a seguir</b></h3>

      <div ng-repeat="pre in conflicts.preConflictSteps">
        <input id="checkSlave" type="checkbox" ng-checked="pre.approved" disabled="true" aria-label="Slave input">
        {{pre.title}}
      </div>
    </div>
  </div>


</div>
